; This is the configurations for the Drupal computing agents

; drush command. set it if agents can't find drush command.
; dcomp.drush.command = drush

; drush site alias to specify which Drupal installation the agent is going to access.
dcomp.drush.site = @local

; command mapping file.
; dcomp.command.file = command.properties

; system execution timeout, in millisecond. controls when to timeout execution of system command (e.g. Drush)
; dcomp.exec.timeout = 120000

; drupal site url. should starts with http:// or https://
; dcomp.site.base_url = http://example.com

; default access to drupal set as "drush". to use services module, set as "services"
; dcomp.site.access = services

; do not use "/" in front of the endpoint.
; dcomp.services.endpoint = endpoint
; dcomp.services.user.name = scott
; dcomp.services.user.pass = tiger

; agent settings.
; dcomp.agent.name = james.bond.007

; optional database settings.
; dcomp.database.url = jdbc:mysql://localhost/test?user=monty&password=greatsqldb

; optional database properties.
; dcomp.database.properties.useCompression = true
; dcomp.database.properties.* = xxx

; number of records to process in a single run
; dcomp.processing.batch_size = 100