#!/bin/sh

# Setup classpath
export DRUPAL_COMPUTING_HOME=/opt/drupal-computing
export CLASSPATH=${CLASSPATH}:.:${DRUPAL_COMPUTING_HOME}/java/computing.jar:${DRUPAL_COMPUTING_HOME}/java/lib/*

# Execute the default ComputingApplication. Make sure to setup config.properties.
java -Ddcomp.config.file=config.properties org.drupal.project.computing.common.ComputingApplication